body, html {
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#winimage{
    height: 100%;
    width: 100%;
}

#loseimage{
    height: 100%;
    width: 100%;
}

.body {
    background-image: url(../images/startbackground.png);
  }

.first-row{
    height: 200px;
}
.first-row-game{
    height: 250px;
}
